*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    margin: 2rem auto 2rem auto;
    width: 1000px;
    grid-template-columns: 495px 495px;
    grid-template-rows: 120px 130px 364px 184px 184px 184px 100px;
    grid-gap: 5px 5px
}
header {
    margin: 0 auto 0 auto;
    width: 1000px;
    grid-column-start: 1;
    grid-column-end: 2;
}


nav {
    float: right;
    grid-row: 1;
    grid-column: 2;
    
    
    
}


nav .clearfix::after {
    clear: right;
    content: '';
    display: block;
    
}

.bio {
    margin-top: 2 rem auto 2 rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.socials {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.photo {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}




