/* Home */

#home {
    width: 500PX;
    height: 820px;
}

.headings {
    font-size: 1.7rem;

}

/* Navbar */

/* About */

#aboutPicture img {
    width: 325px;
    height: 175px;
}

#intro h2 {
    font: 1.5rem;
}

/* Portfolio */

.gallery img {
    width: 250;
    height: 150;
    margin: 10px
}

/* Contact */
#input {
    width: 80%;
}

#msg {
    width: 70%;
}

#send {
    width: 60%;
}
